body {
    background-color: #7081A1;
	padding: 0;
	margin: 0;
    height: 100vh;
}

#image-div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background: url(../images/eye-to-eye.jpg) no-repeat center fixed;
    opacity: 0.15;
    background-size: cover;
    display: none;
}

#page-title {
	font-family: 'Sacramento', cursive;
	font-size: 6rem;
	color: #f8e89e;
	font-weight: 500;
	margin-bottom: 0;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

#page-subtitle {
	color: #EEEEEE;
	margin-top: -10px;
	font-family: 'Cabin Sketch', cursive;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-15px);
}

#details-link {
  text-decoration: none;
  font-family: 'Itim', cursive;
  font-size: 1.3rem;
  color: #546077;
  background-color: #EEEEEE;
  padding: 10px 20px;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.3);
  transition: all 0.5s;
    opacity: 0;
  transform: scale(0.8);
}
#details-link:hover {
  background-color: rgba(255, 255, 255, 1);
}

#menu {
	display: flex;
	justify-content: center;
}

/**
#menu a {
	margin: 5px;
	padding: 5px 10px;
	font-family: 'Itim', cursive;
  color: rgba(176, 211, 255, 0.8);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  transition: color 0.2s;
  text-decoration: none;
}
#menu a.selected {
  color: #f8e89ecc;
}
#menu a:hover {
	cursor: pointer;
  color: rgba(180, 220, 255, 1);
}

#menu a.selected:hover {
  color: #f8e89e;
}
*/
hr {
  width: 75vw;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}

.container {
  display: flex;
  text-align: center;
  align-content: center;
  flex-flow: column;
  justify-content: center;
  height: 90vh;
    padding: 10px;
}

@media screen and (max-width: 767px) {
	#page-title {
	  font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
	}
	
	#page-subtitle {
	  font-size: 1.75rem;
	}
	
	#menu {
	  flex-flow: column;
	}
}