/*
#F9F8F5 - White
#F5F4F1 - Almost White
#F8F8F2 - Lighter Gray
#A59F85 - Light Gray
#75715E - Gray
#49483E - Dark Gray
#383830 - Darker Gray
#272822 - Background

#F92672 - Pink
#FD971F - Orange
#F4BF75 - Tan
#A6E22E - Green
#A1EFE4 - Light Blue
#66D9EF - Blue
#AE81FF - Purple
#CC6633 - Brown
*/
html {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
html, body {
    background-color: #272822;
    color: #F8F8F2;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.section-title {
    margin-top: 0;
}
.centered {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.container {
    display: inline-block;
}
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: inline-block;
    text-align: center;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
.box.active {
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.box.not-active {
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
}
.box h1 {
    display: inline-block;

    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.box h1 span {
    color: #F8F8F2;

    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.box.not-active h1 {
    color: #75715E;
}
.box.not-active h1 span {
    color: #A59F85;
}

.center {
    text-align: center;
}

.btn {
    padding: 10px 25px;
    font-size: 20px;
    background: none;
    border: none;
    border-color: #75715E;
    border-radius: 0.25em;
    color: #272822;
    position: relative;

    -webkit-transition: color 0.3s;
    transition: color 0.3s;

}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #FD971F;

    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;

    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
.btn:focus, .btn:active {
    outline: none;
}
.btn:hover {
    color: #FD971F;
    cursor: pointer;
}
.btn:hover::before {
    box-shadow: inset 0 0 0 2px #FD971F;

    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1, 1, 1);
}

.page-text {
    margin-bottom: 0;
}

/* index.html */
#home-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -webkit-justify-content: center;
    justify-content: center;

    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: visible;
}
#home-content.top {
    -webkit-box-align: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    height: auto;
    position: relative;
}

#name {
    text-align: center;
    margin: 0;
    font-size: 50px;
    position: relative;
    display: block;
}
#name #name-n {
    opacity: 0;

    transition: opacity 1.5s 0.4s;
    -webkit-transition: opacity 1.5s 0.4s;

    display: inline-block;
    padding: 0px 10px;
}
#left-brac {
    position: absolute;
    margin-left: 130px;
    font-size: 100px;
    margin-top: -10px;
    color: #383830;
    z-index: -1;

    -webkit-transition: margin-left 1s 0.1s;
    transition: margin-left 1s 0.1s;
}
#left-brac.open {
    margin-left: -100px;
}
#right-brac {
    position: absolute;
    margin-left: -210px;
    font-size: 100px;
    margin-top: -10px;
    color: #383830;
    z-index: -1;

    -webkit-transition: margin-left 1s 0.1s;
    transition: margin-left 1s 0.1s;
}
#right-brac.open {
    margin-left: 40px;
}

#subtitle {
    text-align: center;
    margin: 0;
    color: #E6DB74;
    opacity: 0;

    -webkit-transition: opacity 1.5s 0.7s;
    transition: opacity 1.5s 0.7s;
}

#about-btn {
    margin-top: 40px;
    opacity: 0;

    -webkit-transition: opacity 1.5s 1s, -webkit-transform 0.7s;
    transition: opacity 1.5s 1s, transform 0.7s;
}

#identification {
    position: relative;

    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
}
#identification.fixed {
    -webkit-transition: none;
    transition: none;

    -webkit-transform: translate(0,0) scale(0.8,0.8);
    transform: translate(0,0) scale(0.8,0.8);

    position: relative;
    padding: 0px 10px;

    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#section-links {
    display: none;
    max-width: 1000px;

    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);

    margin: 0 auto;
    padding: 10px;
}

#folder-box {
    display: none;
}

#folder-box.shown {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex
}

.command {
    font-family: 'Ubuntu', sans-serif;
}

#projects, #about-me, #contact {
    color: #AE81FF;
    cursor: pointer;
}

#cmd2 {
    opacity: 0.3;
}

.box::before, .box::after {
    display: inline-block;
    opacity: 0;

    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, color 0.2s;
    transition: transform 0.3s, opacity 0.2s, color 0.2s;

    font-size: 38px;
    font-weight: bold;
    color: #A59F85;
}
.box::before {
    content: "{";
    margin-right: 10px;

    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.box::after {
    content: "}";
    margin-left: 10px;

    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}
.box:not(.active):hover::before, .box:not(.active):hover::after{
    opacity: 1;

    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.content-box {
    background-color: #383830;
    padding: 15px;
    display: none;
    margin-top: 15px;

    -webkit-transform: scale(0.65,0.65) translateX(0);
    transform: scale(0.65,0.65) translateX(0);

    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;

    margin-bottom: 15px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 1;
}
.content-box:not(.side-box) {
    z-index: 2;
}
.content-box.open {
    -webkit-transform: scale(1,1) translateX(0);
    transform: scale(1,1) translateX(0);

    position: relative;
}
.content-box.shift {
    -webkit-transform: scale(1,1) translateX(-100%);
    transform: scale(1,1) translateX(-100vw);

    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s;

    opacity: 0;
}
.side-box {
    -webkit-transform: scale(1,1) translatex(50%);
    transform: scale(1,1) translateX(50vw);

    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;

    position: absolute;
    opacity: 0;
    top: 0;
    margin-top: 0;
}
.side-box.open {
    -webkit-transform: scale(1,1) translateX(0);
    transform: scale(1,1) translateX(0);

    position: absolute;
    opacity: 1;
}

.sub-box {
    display: none;
}

.box-wrapper {
    position: relative;
}

#app-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-align: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.app-container {
    -webkit-box-flex: 1;
    flex-grow: 1;

    -webkit-flex-basis: 300px;
    flex-basis: 300px;

    max-width: 300px;
    margin: 5px;
    min-height: 100px;
    position: relative;
    border: 2px solid #272822;
    overflow: hidden;
}
.app-image {
    max-width: 300px;
    max-height: 175px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app-image img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transform: scale(1,1);
    transform: scale(1,1);

    backface-visibility: hidden;
    opacity: 0.6;
}
.app-title {
    margin: 0;
    font-size: 25px;
}
.app-description {
    margin: 0;
    opacity: 0;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.overlay {
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    padding: 5px 10px;

    width: -webkit-cal(100% - 20px);
    width: calc(100% - 20px);
    background-color: rgba(0,0,0,0.75);

    -webkit-transform: translateY(18px);
    transform: translateY(18px);
}

.app-container:hover {
    cursor: pointer;
}
.app-container:hover .overlay {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.app-container:hover .app-description {
    opacity: 1;
}
.app-container:hover .app-image img {
    -webkit-transform: scale(1.1,1.1) translate(-20px,-10px) !important;
    transform: scale(1.1,1.1) translate(-20px,-10px) !important;

    opacity: 1;
}

#exception {
    text-align: right;
    margin: 10px 0 0;
}

.link {
    display: -webkit-inline-box;
    display: inline-flex;

    margin: 0 15px;
}
.link a {
    text-decoration: none;
    color: #FD971F;
    padding-left: 10px;
    padding-top: 5px;

    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.link a:hover {
    color: #66D9EF;
}

.languages {

}
.languages ul {
    padding-left: 0;
}
.languages ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px 0;
    background: #75715E;
    border-radius: 0.5em;
}

#back-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0px;
    color: #FD971F;
}
#back-btn:hover {
    cursor: pointer;
    color: #66D9EF;
}

@media only screen and (max-width: 667px) {
    #name-n {
        font-size: 30px;
    }
    #left-brac {
        margin-left: 100px;
        font-size: 40px;
        margin-top: 20px;
    }
    #left-brac.open {
        margin-left: -30px;
    }
    #right-brac {
        margin-left: -140px;
        font-size: 40px;
        margin-top: 20px;
    }
    #right-brac.open {
        margin-left: 0px;
    }
    .flexbox {
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
    .box h1 {
        margin: 5px 0px;
    }
    #cmd2 {
        display: none;
    }
    #section-links {
        padding-top: 0;
    }
    .command {
        margin: 0;
    }
    #identification.fixed {
        margin-top: -15px;
    }
}
