/*
#F9F8F5 - White
#F5F4F1 - Almost White
#F8F8F2 - Lighter Gray
#A59F85 - Light Gray
#75715E - Gray
#49483E - Dark Gray
#383830 - Darker Gray
#272822 - Background

#F92672 - Pink
#FD971F - Orange
#F4BF75 - Tan
#A6E22E - Green
#A1EFE4 - Light Blue
#66D9EF - Blue
#AE81FF - Purple
#CC6633 - Brown
*/

html, body {
    background-color: #272822;
    color: #F8F8F2;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

h1, h2, h3, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.section-title {
    margin-top: 0;
}
.centered {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.container {
    display: inline-block;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.box {
    flex: 1 1;
    display: inline-block;
    text-align: center;
    transition: transform 0.5s, flex 0.5s;
    transform: scale(1,1);
}
.box.active {
    transform: scale(1.2,1.2);
}
.box.not-active {
    transform: scale(0.8,0.8);
}
.box h1 {
    display: inline-block;
    transition: color 0.5s;
}
.box h1 span {
    color: #F8F8F2;
    transition: color 0.5s;
}
.box.not-active h1 {
    color: #75715E;
}
.box.not-active h1 span {
    color: #A59F85;
}

.center {
    text-align: center;
}

.btn {
    padding: 10px 25px;
    font-size: 20px;
    background: none;
    border: none;
    border-color: #75715E;
    border-radius: 0.25em;
    color: #272822;
    transition: color 0.3s;
    position: relative;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #FD971F;
    transition: box-shadow 0.3s, transform 0.3s;
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
    transform: scale3d(0.9, 0.9, 1);
}
.btn:focus, .btn:active {
    outline: none;
}
.btn:hover {
    color: #FD971F;
    cursor: pointer;
}
.btn:hover::before {
    box-shadow: inset 0 0 0 2px #FD971F;
    transform: scale3d(1, 1, 1);
}

.page-text {
    margin-bottom: 0;
}

/* index.html */
#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#home-content.top {
    justify-content: flex-start;
    height: auto;
    position: relative;
}

#name {
    text-align: center;
    margin: 0;
    font-size: 50px;
    position: relative;
    display: block;
}
#name #name-n {
    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    transition-delay: 0.4s;
    display: inline-block;
    padding: 0px 10px;
}
#left-brac {
    position: absolute;
    margin-left: 130px;
    font-size: 100px;
    margin-top: -10px;
    color: #383830;
    transition: margin-left 1s;
    transition-delay: 0.1s;
    z-index: -1;
}
#left-brac.open {
    margin-left: -100px;
}
#right-brac {
    position: absolute;
    margin-left: -210px;
    font-size: 100px;
    margin-top: -10px;
    color: #383830;
    transition: margin-left 1s;
    transition-delay: 0.1s;
    z-index: -1;
}
#right-brac.open {
    margin-left: 40px;
}

#subtitle {
    text-align: center;
    margin: 0;
    color: #E6DB74;
    opacity: 0;
    transition: opacity 1.5s;
    transition-delay: 0.7s;
}

#about-btn {
    margin-top: 40px;
    opacity: 0;
    transition: opacity 1.5s 1s, transform 0.7s;
}

#identification {
    position: relative;
    transition: transform 0.7s;
}
#identification.fixed {
    transition: none;
    transform: translate(0,0) scale(0.8,0.8);
    position: relative;
    padding: 0px 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#section-links {
    display: none;
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;
}

#folder-box {
    display: none;
}

.command {
    font-family: 'Ubuntu', sans-serif;
}

#projects, #about-me, #contact {
    color: #AE81FF;
    cursor: pointer;
}

#cmd2 {
    opacity: 0.3;
}

.box::before, .box::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, color 0.2s;
    font-size: 38px;
    font-weight: bold;
    color: #A59F85;
}
.box::before {
    content: "{";
    margin-right: 10px;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.box::after {
    content: "}";
    margin-left: 10px;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}
.box:not(.active):hover::before, .box:not(.active):hover::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.content-box {
    background-color: #383830;
    padding: 15px;
    display: none;
    margin-top: 15px;
    transform: scale(0.65,0.65);
    transition: transform 0.5s;
    margin-bottom: 15px;
}
.content-box.open {
    transform: scale(1,1);
    position: relative;
}

#app-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-container {
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 300px;
    margin: 5px;
    min-height: 100px;
    position: relative;
    border: 1px solid #272822;
    overflow: hidden;
}
.app-image {
    max-width: 300px;
    max-height: 175px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app-image img {
    transition: all 0.5s;
    transform: scale(1,1);
    backface-visibility: hidden;
    opacity: 1;
}
.app-title {
    margin: 0;
}
.app-description {
    margin: 0;
    opacity: 0;
    transition: all 0.5s;
}

.overlay {
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s;
    padding: 5px 10px;
    width: calc(100% - 20px);
    background-color: rgba(0,0,0,0.75);
    transform: translateY(18px);
}

.app-container:hover {
    cursor: pointer;
}
.app-container:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}
.app-container:hover .app-description {
    opacity: 1;
}
.app-container:hover .app-image img {
    transform: scale(1.1,1.1) translate(-20px,-10px) !important;
    opacity: 0.6;
}

@media only screen and (max-width: 667px) {
    #name-n {
        font-size: 30px;
    }
    #left-brac {
        margin-left: 100px;
        font-size: 40px;
        margin-top: 20px;
    }
    #left-brac.open {
        margin-left: -30px;
    }
    #right-brac {
        margin-left: -140px;
        font-size: 40px;
        margin-top: 20px;
    }
    #right-brac.open {
        margin-left: 0px;
    }
    .flexbox {
        flex-direction: column;
    }
    .box h1 {
        margin: 5px 0px;
    }
    #cmd2 {
        display: none;
    }
    #section-links {
        padding-top: 0;
    }
    .command {
        margin: 0;
    }
    #identification.fixed {
        margin-top: -15px;
    }
}
